.main_input_box::placeholder {
  color: var(--placeholder-color);
}
.search_input::placeholder{
  color:var(--inputPlaceholderColor);
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  background:linear-gradient(to left ,rgba(240, 240, 240, 0.539),rgba(0, 0, 0, 0.525));
}

@media (max-width:600px) {
  .toastify{
    top: 30px;
    max-width: 72%;
    left: 16%
  }
}